<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Dinero COP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>

<div class="contenedor">

    <h1>💰 Mi Dinero COP</h1>

    <p class="subtitulo">
        Aprende a conocer y utilizar el dinero colombiano
    </p>

    <div class="menu">

        <a href="/monedas" class="boton">
            🪙
            <span>Conocer monedas</span>
        </a>

        <a href="/billetes" class="boton">
            💵
            <span>Conocer billetes</span>
        </a>

        <a href="/contar" class="boton">
            ➕
            <span>Contar dinero</span>
        </a>
        <a href="/comprar" class="boton">
             🛒
            <span>Aprender a comprar</span>
        </a>
        <a href="/cambio" class="boton">
            💰
            <span>Recibir cambio</span>
        </a>
        <a href="/ahorrar" class="boton">
           🏦
           <span>Aprender a ahorrar</span>
        </a>
        <a href="/necesidad" class="boton">
          🧠
          <span>Necesidad o deseo</span>
        </a>
        <a href="/juego" class="boton">
          🎮
         <span>Jugar con el dinero</span>
         </a>


    </div>

</div>

</body>
</html>